@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background-color: gainsboro;
}

.modal {
  @apply shadow-lg;

  position: fixed;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -20%);
  background-color: white;
  padding: 4rem;
  border-radius: 1rem;
}

.blue-link {
  @apply py-1 mt-2 text-sky-700 hover:text-sky-400;
}

.black-link {
  @apply py-1 mt-2 text-slate-950 hover:text-slate-400;
}

.blue-link-bg {
  @apply py-1 px-10 mt-2 text-white bg-sky-700 hover:bg-sky-400;
}

.warning {
  @apply p-2 mt-2 border rounded-sm border-rose-600 text-rose-950 bg-rose-400;
}

.card {
  @apply p-10 m-2 border rounded-md shadow-md text-slate-950 bg-white w-60 h-44 flex flex-col justify-center text-lg;
}

.card:hover {
  @apply bg-slate-200;
}
