<table class="min-w-full mt-6 bg-white shadow-md">
    <thead>
      <tr>
        <th class="py-2 px-4 bg-slate-200 text-left">Patient</th>
        <th class="py-2 px-4 bg-slate-200 text-left">Status</th>
        <th class="py-2 px-4 bg-slate-200 text-left">Appointment</th>
        <th class="py-2 px-4 bg-slate-200 text-left">Actions</th>
      </tr>
    </thead>
  <% @appointments.each do |appointment| %>
    <tr>
      <%= render appointment %>
    </tr>
  <% end %>
</table>

<div class="flex justify-center py-5">
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>
