<div class="flex flex-wrap justify-center pt-12 w-1/2 mx-auto">
  <% if current_user.patient? %>
    <%= link_to doctors_path do %>
      <div class="card">
        <h2 class="text-center">Doctors</h2>
      </div>
    <% end %>
  <% end %>

  <% if current_user.doctor? || current_user.patient? %>
    <%= link_to appointments_path do %>  
      <div class="card">
        <h2 class="text-center">Appointments</h2>
      </div>
    <% end %>
  <% end %>
  
  <% if current_user.admin? %>
    <%= link_to admin_root_path do %>  
      <div class="card">
        <h2 class="text-center">Admin Page</h2>
      </div>
    <% end %>
  <% end %>
</div>
